.popup__button-save {
  margin: 48px 0 0 0;
  padding: 14px 0;
  border: none;
  border-radius: 2px;
  background-color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.popup__button-save:hover {
  opacity: .8;
}

@media (max-width: 618px) {
  .popup__button-save {
    margin: 43px 0 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}
