.popup__input {
  box-sizing: border-box;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.22;
}
.popup__input:not(:last-of-type) {
  margin: 0 0 30px 0;
}
