.popup__container-form {
  position: relative;
  min-width: 430px;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 618px) {
  .popup__container-form {
    min-width: 282px;
    margin: 0 19px;
    padding: 24px 22px;
  }
}
