.card__like {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/like_icon.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
}

.card__like:hover {
  opacity: .5;
}
